<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.dao.AddressMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into t_address
    (   id, address, name, phone, is_default, user_id, create_time)
    values (
        #{id,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{isDefault,jdbcType=TINYINT},
        #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
    )
    </insert>

    <update id="update">
        update t_address
        set address = #{address}, phone = #{phone}, is_default = #{isDefault}, name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM t_address WHERE id = #{id}
    </delete>

    <select id="queryById" resultType="com.example.mall.entity.Address">
        SELECT
         id, address, name, phone, is_default, user_id, create_time
         FROM t_address WHERE id = #{id}
    </select>

    <select id="queryAllByLimit" resultType="com.example.mall.entity.Address">
        SELECT
         id, address, name, phone, is_default, user_id, create_time
         FROM t_address WHERE offset #{offset} limit #{limit}
    </select>

    <select id="queryAll" resultType="com.example.mall.entity.Address">
        SELECT
        id, address, name, phone, is_default, user_id, create_time
        FROM t_address
        <where>
            1 = 1
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="isDefault != null">
                and is_default = #{isDefault}
            </if>
        </where>
    </select>
    <select id="getDefaultAddress" resultType="com.example.mall.entity.Address">
         SELECT
         id, address, name, phone, is_default, user_id, create_time
         FROM t_address
         WHERE user_id = #{userId} and is_default = 1 limit 1
    </select>
